Stuff starting from [web] tag is to be done by Web Development team.

Requirements:

- 3 images for intro 1920*1080
- Fading Images from center to top and center to bottom
- [Web] href for workshop organizing institute of workshop page
- Taglines for each of them => {Technical, Fun, Management, and Cultural Events} of 5-7 words
- The "About" section on homepage that will give a short intro about the fest and the college
- 350*270px images for Workshops section on index.html
- [Web] Add register option on each workshop.html and event.html
- [Web] Design the feedback page
- Individual Workshop's details in the following format:
    About the workshop and the organizer.
    Details about the workshop
    Syllabus to be covered
    Corresponding fee structure
    Venue (i.e. CS Department, RnD, Auditorium...)
    Contacts (should include some volunteer from the college)
