Requirements:

3 images for intro 1920*1080
Fading Images from center to top and center to bottom

Pendings:
href for university logo on main page
href for workshop organizing institute of workshop page
